@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background: var(--bc-main);
  color: var(--color-white);
}

/*===<HEADER>===*/
.container1197 {
  max-width: 1197px;
  margin: 0 auto;
}

.header {
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.header__logo {
  display: block;
  width: 129px;
  height: 25px;
  background-image: url(../images/default-monochrome-white.svg);
  background-repeat: no-repeat;
}

.search-form {
  position: relative;
}

.search-form__button {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  position: absolute;
  /*center = 50% - 1/2 width or 1/2 height*/
  top: calc(50% - 10px);
  left: 10px;
}

.search-form__input {
  width: 384px;
  font-size: 1.25em;
  line-height: 30px;
  background-color: var(--bc-grey);
  border-radius: 10px;
  padding: 10px 50px 10px 40px;
  border: none;
  outline: none;
}

.search-form__input::placeholder {
  color: var(--bc-half-white);

}

.header__list {
  display: flex;
  gap: 40px;
  font-size: 1.25em;
  line-height: 30px;
}

.header__link {
  color: var(--color-white);
}

.header__link-gradient {
  background: var(--bc-purple);
  border-radius: 10px;
  padding: 10px 20px;
}

/*===</HEADER>===*/

.main {
  padding: 0 15px;
  margin-bottom: 45px;
}

.splash {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*=================================================*/
/*size of this block is more priority*/
.main__text {
  flex-basis: 490px;
}

/*size of this block is less priority*/
.main__image {
  flex-basis: calc(100% - 490px - 116px);
}

/*=================================================*/
.main__title {
  font-weight: 700;
  font-size: 3.125em;
  line-height: 120%;
  margin-bottom: 10px;
}

.main__subtitle {
  font-size: 1.25em;
  line-height: 180%;
  color: var(--bc-half-white);
  margin-bottom: 30px;
}

.main__btn {
  display: inline-block;
  font-size: 1.25em;
  line-height: 30px;
  border-radius: 10px;
  color: var(--bc-half-white);
  background-color: var(--bc-grey);
  padding: 10px 20px;
  color: var(--color-white);
  margin-bottom: 40px;
}

.main__btn-gradient {
  background: var(--bc-purple);
  margin-right: 20px;
}

.main__list {
  display: flex;
  text-align: center;
  gap: 110px;
}

.main__item {
  font-size: 1.25em;
  line-height: 30px;
  color: var(--bc-half-white);

}

.main__item_span {
  display: block;
  font-weight: 700;
  font-size: 1.875em;
  line-height: 45px;
  color: var(--color-white);

}

.partners {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-top: 150px;
  gap: 10.416%;
}

.partners__img {
  width: 100%;
  height: auto;
  opacity: 0.7;
}


.article-featured {
  margin-bottom: 260px;
}

.article-desc {
  max-width: 495px;
  margin: 0 auto;
}

.article__title {
  font-weight: 700;
  font-size: 2.5em;
  line-height: 60px;
  text-align: center;
  color: var(--color-white);
  margin-bottom: 10px;
}

.article__subtitle {
  font-size: 1.25em;
  line-height: 1.875rem;
  text-align: center;
  color: var(--bc-half-white);
  margin-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px; */
}

.card__item {
  background-color: var(--bc-grey);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 26px;
  flex-basis: calc(100% / 3 - 15px);
  /*while hover*/
  transition: 300ms;
}

.card__item:hover {
  background: var(--bc-half-white);
}

/*==card img==*/
.card__img-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 380px;
}

.card__img {
  display: block;
  position: absolute;
  width: 100%;
  height: 380px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  border-radius: 10px;
}

/*==card description==*/
.card__info {
  display: flex;
  justify-content: space-between;
}

.card__nick {
  font-size: 1.25em;
  line-height: 30px;
  color: var(--bc-half-white);
}

.card__author,
.card__price {
  font-weight: 700;
  font-size: 1.25em;
  line-height: 30px;
  color: var(--color-white);
}

.card__bid {
  font-size: 0.9375em;
  line-height: 22px;
  color: var(--bc-half-white);
  text-align: right;
}

.card__price {
  display: block;
}

.card__link {
  /*width 100%*/
  display: block;
  text-align: center;
  background: var(--bc-purple);
  margin: 0;
  transition: 300ms;
}

.card__link:hover {
  /*button text and border*/
  background: var(--bc-purple);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1.5px solid white;
}

.article-question {
  margin-bottom: 150px;
}




.collapsible {
  background: transparent;
  color: var(--bc-half-white);
  cursor: pointer;
  padding: 20px 0;
  margin-bottom: 30px;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  text-align: left;
  outline: none;
  font-size: 1.25em;
}

.active,
.collapsible:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
}

.collapsible:after {
  content: '\002B';
  color: var(--bc-half-white);
  float: right;
  margin: 0 7px 0 5px;
}

.active:after {
  content: "\2212";
  color: rgba(255, 255, 255, 1);
}

.content {
  /* padding: 0 18px; */
  max-height: 0;
  overflow: hidden;
  line-height: 1.5;
  transition: max-height 0.2s ease-out;
}

.faq {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
}

.faq__item {
  flex-basis: 49%;
}



.banner {
  background: var(--bc-purple);
  border-radius: 10px;
  text-align: center;
  padding: 50px 15px;
  margin-bottom: 100px;
}

.banner__title {
  max-width: 500px;
  font-weight: 700;
  font-size: 3.125em;
  line-height: 75px;
  text-align: center;
  color: var(--color-white);
  margin: 0 auto;
  margin-bottom: 34px;
}

.banner__link {
  background: var(--bc-half-white);
  border-radius: 10px;
  font-size: 1.25em;
  line-height: 30px;
  padding: 10px 20px;
  color: var(--color-white);
}

.banner__link:hover {
  background: rgba(18, 15, 15, 0.6);
}