/*<extra-large screens>*/
@media screen and (min-width:1500px) and (max-width:4000px) {
  .container1197 {
    max-width: calc(100vw - 300px);
  }

  .main__image-block {
    flex-basis: auto;
  }

  .interaction {
    column-gap: calc(11.81vw + 4vw);
  }
}

@media screen and (min-width:2800px) and (max-width:4000px) {
  .container1197 {
    max-width: calc(100vw - 18%);
  }

  .interaction {
    column-gap: calc(11.81vw + 10vw);
  }
}

/*</extra-large screens>*/

/*<extra-large screens + dependence on HiDPI availability>*/
@media only screen and (min-width: 1440px) and (max-width: 4000px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-width: 1440px) and (max-width: 4000px) and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-width: 1440px) and (max-width: 4000px) and (min-resolution: 1.5dppx) {
  html {
    font-size: 36px;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 4000px) and (-webkit-min-device-pixel-ratio: 1),
only screen and (min-width: 1440px) and (max-width: 4000px) and (min--moz-device-pixel-ratio: 1),
only screen and (min-width: 1440px) and (max-width: 4000px) and (min-resolution: 96dpi) {
  html {
    font-size: 18px;
  }
}

/*</extra-large screens + dependence on HiDPI availability>*/

/*regular sizes==================================================*/
@media screen and (max-width:1240px) {
  html {
    font-size: 16px;
  }
}

/*regular sizes==================================================*/
@media screen and (max-width:1024px) {
  html {
    font-size: 15px;
  }
}

/*regular sizes==================================================*/
@media screen and (max-width:992px) {
  html {
    font-size: 14px;
  }

  .hamburger-menu,
  .header__search-mob {
    display: block;
    padding-right: 11vw;
  }

  .search-form,
  .header__desktop_nav {
    display: none;
  }

  .search-form-mob {
    position: relative;
    display: block;
    margin-bottom: 13%;
    margin-top: -9%;
    padding: 0 15px
  }

  .main__text-block_title {
    font-size: 2.9rem;
  }

  #scroll-to-top {
    width: 6vw;
    height: 6vw;
  }
}

/*regular sizes==================================================*/
@media (min-width:429px) and (max-width:992px) {
  .menu__btn {
    top: 43px;
    right: 38px;
  }
}

/*regular sizes==================================================*/
@media screen and (max-width:880px) {
  .interaction {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5.81vw;
  }

  .main__text-block_title {
    font-size: 2.5rem;
  }

  .i-block__login_title {
    font-size: 2.25rem;
    margin-bottom: 0;
  }

  .interaction {
    gap: 0;
  }

  .interaction-block__quote {
    box-shadow: none;
    border-radius: 12px 0 0 12px;
  }

  .i-block_quote {
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 1.041vw 0 0.6944vw 0;
  }

  .i-block__quote__img-wrapper {
    width: 50%;
    margin: 0 auto 1vw auto;
  }

  .interaction-block__login {
    border-radius: 0 12px 12px 0;
  }

  .article__title {
    font-size: 2rem;
  }

  .collapsible {
    font-size: 1rem;
  }
}

/*regular sizes==================================================*/
@media screen and (max-width:768px) {
  html {
    font-size: 13px;
  }

  :root {
    --mb-medium: 20%;
  }

  .header__search-mob {
    padding-right: 12.5vw;
  }

  .main__splash {
    justify-content: center;
    background: url(../images/main_mobile.webp);
    background-size: contain;
    background-position: center;
  }

  .main__text-block {
    width: 70vw;
    text-align: center;
    padding: 2%;
  }

  .main__text-block_title {
    font-size: 2.45rem;
  }

  .main__image-block {
    display: none;
  }

  .main__text-block_subtitle {
    font-size: 1.2rem;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.75);
  }

  .main__list {
    display: flex;
    justify-content: center;
  }

  .main__list-item {
    color: rgba(255, 255, 255, 0.75);
  }

  .interaction {
    grid-template-columns: 0.9fr 1.1fr;
  }

  .interaction-block__quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #scroll-to-top {
    width: 7.5vw;
    height: 7.5vw;
  }
}

/*regular sizes==================================================*/
@media screen and (max-width:750px) {

  .card__img-wrapper {
    min-height: 40vw;
  }

  .cards-scroll-btn {
    display: block;
    cursor: pointer;
  }

  .cards-scroll-btn:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }

  .layer {
    min-height: 25vw;
    width: 49vw;
    margin: 0 auto;
    position: relative;
  }

  .viewport {
    width: 49vw;
    height: auto;
    min-height: 25vw;
    overflow-x: hidden;
  }

  .cards {
    display: flex;
  }

  .card__item {
    width: 49vw;
    flex: 1 0 49vw;
  }

  .left,
  .right {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 0;
    border-radius: 100%;
  }

  .right {
    left: unset;
    right: 0;
    transform: translate(50%, -50%);
  }

  .l,
  .r {
    display: block;
    width: 7.5vw;
    height: 7.5vw;
  }
}

/*regular sizes==================================================*/
@media screen and (min-width: 578px) and (max-width: 750px) {

  .card__author,
  .card__price {
    font-size: 1.5rem;
    margin: 2.5vw 0 3vw 0;
  }

  .card__nick,
  .card__bid {
    font-size: var(--fs-small);
    margin-bottom: 0;
  }

  .main__btn {
    padding: 4.5% 6%;
  }
}

/*regular sizes==================================================*/
@media screen and (max-width:650px) {

  .header__search-mob {
    padding-right: 15vw;
  }

  .interaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13vw;
  }

  .interaction-block__quote,
  .interaction-block__login {
    width: 70vw;
    border-radius: 25px;
  }

  .i-block__login_form {
    width: 44vw;
  }

  .i-block__login_title {
    font-size: 2rem;
  }

  .i-block__login_btn {
    margin: 1.5vw 0 1.5vw 0;
    gap: 1.5vw;
  }

  .i-block__login_link {
    border-radius: 8px;
    padding: 1vw 1.38vw;
  }

  .article-desc {
    max-width: 91%;
  }

  .partners {
    gap: 5.6%;
  }

  #scroll-to-top {
    width: 9vw;
    height: 9vw;
  }
}

/*regular sizes==================================================*/
@media screen and (max-width:585px) {

  .faq {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
  }

  .faq__item {
    width: 90%;
  }
}

/*regular sizes==================================================*/
@media screen and (max-width:578px) {
  .main__btn {
    padding: 2.5% 5%;
  }

  .article__title {
    font-size: 1.85rem;
  }

  .partners {
    margin: 5.175% auto;
    padding: 0 0.8vw;
  }
}

/*regular sizes==================================================*/
@media screen and (max-width:550px) {
  .header__search-mob {
    padding-right: 20vw;
  }
}

/*regular sizes==================================================*/

@media screen and (max-width:480px) {

  .i-block__login_title {
    font-size: 1.7rem;
    padding: 0 9vw;
  }

  .article__title {
    margin-bottom: 0;
  }

  .partners__img:hover {
    cursor: auto;
    animation: none !important;
  }

  #scroll-to-top {
    width: 10vw;
    height: 10vw;
  }
}

/*regular sizes==================================================*/
@media (min-width:320px) and (max-width:429px) {
  .menu__btn {
    top: 33.5px;
  }
}

/*regular sizes==================================================*/
@media screen and (max-width:428px) {
  body {
    margin: 0;
  }

  .header__search-mob {
    padding-right: 21vw;
  }

  .main__text-block_subtitle,
  .main__btn {
    margin-bottom: 7vw;
  }

  .main__btn:last-of-type {
    margin-bottom: 0;
  }

  .main__splash {
    margin-bottom: 35%;
  }

  .interaction {
    gap: 20vw;
  }

  .i-block__login_form {
    width: 50vw;
  }

  .content {
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.9);
  }

  .collapsible {
    margin-bottom: 15px;
  }

  .partners {
    gap: 4%;
  }

  #scroll-to-top {
    width: 14vw;
    height: 14vw;
  }
}

/*regular sizes==================================================*/
@media screen and (max-width:427px) {
  #scroll-to-top {
    width: 16vw;
    height: 16vw;
  }
}

@media screen and (orientation: landscape) {
  .menu__box {
    height: 100%;
  }
}