/*<extra-large screens>*/
@media screen and (min-width:1500px) and (max-width:4000px) {
  .container1197 {
    max-width: calc(100vw - 300px);
  }

  .main__image-block {
    flex-basis: auto;
  }

  .interaction {
    column-gap: calc(11.81vw + 4vw);
  }
}

@media screen and (min-width:2800px) and (max-width:4000px) {
  .container1197 {
    max-width: calc(100vw - 18%);
  }

  .interaction {
    column-gap: calc(11.81vw + 10vw);
  }
}

/*</extra-large screens>*/

/*<extra-large screens + dependence on HiDPI availability>*/
@media only screen and (min-width: 1440px) and (max-width: 4000px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-width: 1440px) and (max-width: 4000px) and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-width: 1440px) and (max-width: 4000px) and (min-resolution: 1.5dppx) {
  html {
    font-size: 36px;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 4000px) and (-webkit-min-device-pixel-ratio: 1),
only screen and (min-width: 1440px) and (max-width: 4000px) and (min--moz-device-pixel-ratio: 1),
only screen and (min-width: 1440px) and (max-width: 4000px) and (min-resolution: 96dpi) {
  html {
    font-size: 18px;
  }
}

/*</extra-large screens + dependence on HiDPI availability>*/

/*regular sizes==================================================*/
@media screen and (max-width:1240px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width:1024px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width:992px) {
  html {
    font-size: 13px;
  }

  .header__mobile_nav {
    display: block;
  }

  .search-form,
  .header__desktop_nav {
    display: none;
  } 
}